.container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 45px 0 80px 0;
  background: #fff;
}
.container .lt_box {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.container .lt_box ul.mui-table-view li.mui-table-view-cell {
  width: 100%;
  padding-top: 10px;
}
.container .lt_box ul.mui-table-view li.mui-table-view-cell img.mui-media-object {
  max-width: 60px;
  width: 60px;
  height: 60px;
}
.container .lt_box ul.mui-table-view li.mui-table-view-cell .mui-media-body p.name {
  height: 40px;
  line-height: 20px;
  width: 100%;
  overflow: hidden;
  white-space: normal;
  color: #666;
}
.container .lt_box ul.mui-table-view li.mui-table-view-cell .mui-media-body p.info .price {
  color: #ff3300;
}
.container .lt_box ul.mui-table-view li.mui-table-view-cell .mui-media-body p.info .oldPrice {
  text-decoration: line-through;
  font-size: 12px;
  color: #ccc;
}
.container .lt_box ul.mui-table-view li.mui-table-view-cell .mui-media-body p.info .number {
  font-size: 12px;
  float: right;
  margin-right: 10px;
}
.cart_order {
  position: absolute;
  bottom: 50px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  width: 100%;
  z-index: 99999;
  background: #fff;
  font-size: 14px;
  font-weight: 600;
  color: #ff3300;
  border-top: 1px solid #ccc;
}
.cart_order a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  line-height: 30px;
  width: 80px;
  text-align: center;
  color: #fff;
  background: #ff3300;
}
.mui-popup-inner .p_size {
  padding: 12px 12px;
  border-top: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 35px;
}
.mui-popup-inner .p_size span {
  display: inline-block;
  height: 28px;
  width: 28px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 28px;
  margin-left: 3px;
}
.mui-popup-inner .p_size span.selected {
  background: #fa672d;
}
.mui-popup-inner .p_num {
  padding: 12px 12px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;
}
.mui-popup-inner .p_num .lt_reduce,
.mui-popup-inner .p_num .lt_nums,
.mui-popup-inner .p_num .lt_add {
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 25px;
}
.mui-popup-inner .p_num .lt_nums {
  border-left: none;
  margin-left: -5px;
  border-right: none;
  margin-right: -5px;
}
.mui-toast-container {
  z-index: 99999999;
}
